{% extends 'base.html.twig' %}

{% block title %}Modifier une offre{% endblock %}

{% block body %}
    <h1>Modifier une offre</h1>

    {{ include('job/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
