{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle offre{% endblock %}

{% block body %}
    <h1>Créer une nouvelle offre</h1>

    {{ include('job/_form.html.twig') }}
{% endblock %}
